body {
}

main {
    display: inline-block;
    width: 800px;
    margin-top: 50px;
    margin-left: calc(50% - 400px);
}

.left-column {
    float: left;
    background-color: yellow;
    width: 40%;
}

.main-title {
    font-size:60px;
}

.bottom-links {
    background-color: blue;
}

.right-column { 
    float: left;
    background-color: red;
    width: 60%;
}

.close {
    float: right;
}

.form {
}

